@font-face {
  font-family: "Acumin";
  src: url(https://fonts.adobe.com/fonts/acumin-variable?vf-instance=ExtraCondensed+Medium+Italic&vf-font-size=100&vf-font=AcuminVF);
}
@font-face {
  font-family: "Roboto Semi Condensed";
  src: url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --azul: #322A85;
  --cinza: #F8F8F8;
  --preto: #2F2F2F;
  --fonte-titulo: "Acumin"
  --transicao-padrao: all 300ms ease-in;
}
html{
  font-size: 62.5%;
}
body{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: var(--cinza);
  font-size: 1.6rem;
  color: var(--preto);
}
h1, h2, h3, h4{
  font-family: "Acumin", Arial, Helvetica, sans-serif;
}
.container{
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}